@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Jost:wght@400;500&family=Poppins:wght@200;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    height: 10vh;
}

.list {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin: 0 2rem;
    list-style: none;
    font-weight: 500;
}

button {
    padding: 4px 15px;
    border: 0px;
    padding: .5rem 1.5rem;
    background-color: rgba(208, 28, 40, 1);
    color: white;
}

.main-container {
    /* border: 1px solid red; */
    display: flex;
    width: 70vw;
    margin: 5rem auto;
}

.sub-container1 {
    /* border: 1px solid green; */
}

.sub-container1>h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
}

.sub-container1>p {
    width: 80%;
    font-weight: 500;
    color: rgb(87, 87, 87);
    margin: 1rem 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.button-container>button {
    width: auto;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.category {
    background-color: #fff;
    color: rgb(97, 97, 97);
    border: 1px solid #111;
    cursor: pointer;
}

.small-para {
    font-size: 12px;
}

.shop-container {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.shop-container>img {
    width: 25px;
    cursor: pointer;
}